@media(max-width: 1024px){
    main{
      height: 600px;
    }
    
  }

  /* ------------------------------------------------------------ */

  @media only screen and (max-width: 990px) {
    .first {
      height: 850px;
    }


    .first-right{
      margin-top: 60px;
    }
  }
  
  @media only screen and (max-width: 800px) {
      .first {
        height: 850px;
      }
      .description{
        margin-top: 180px;
      }
    }
    .about{
      height:700px
    }
    .main{
      background-image: linear-gradient(to left, #ffffff 75%, #c2f6ef 25%);
      height: 600px;
    }
    .skills{
      height:700px
    }
    .skills-content{
      background-image: linear-gradient(to right, #ffffff 65%, #c2f6ef 35%);
      height: 600px;
    }
    .skills .skills-content .right .text{
      font-size: 22px;
    }
   
  /* --------------------------------------------------------- */

  @media only screen and (max-width: 767px) {

    .first{
      height:950px
    }

    .main {
      height: 850px;
    }
   .main .textside{
       padding: 0 60px;
    }

    .about{
      height:1150px
    }

    .main{
      background-image: linear-gradient(to left, #ffffff 55%, #c2f6ef 45%);
      height: 600px;
    }
    .skills{
      height:850px
    }
    .skills-content{
      background-image: linear-gradient(to right, #ffffff 65%, #c2f6ef 35%);
      height: 780px;
    }
    .skills .skills-content .right .text{
      font-size: 22px;
    }
  }

    

  /* --------------------------------------------------------- */

  @media only screen and (max-width: 697px) {
    .main {
      height: 980px;
      background-image: linear-gradient(to left, #ffffff 65%, #c2f6ef 35%);
    }
    .main .textside{
      padding: 0 60px;
    }
    .skills{
      height: 1050px;
    }
    .skills-content{
      background-image: linear-gradient(to right, #ffffff 65%, #c2f6ef 35%);
      height: 960px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
    .skills .skills-content .column{
      width: 80%;
    }
    .skills .skills-content .left {
       padding-left: 0; 
       padding-top: 60px;
   }
   .skills .skills-content .right{
      padding-right: 0;
      padding-top: 40px;
    } 
    .skills .skills-content .right .text{
      font-size: 22px;
    }
    .skills .skills-content .right p{
    text-align: inherit;
  }
  }


  /* ------------------------------------------------------- */

  @media only screen and (max-width: 600px){
    
  .main{
    background-image: linear-gradient(to left, #ffffff 65%, #c2f6ef 35%);
    height: 1220px;
  }
  .main .textside{
    padding-bottom: 15px;
  }
  .about{
    height: 1250px;
  }
  .education{
    height: 1900px;
  }
  .skills-content{
    height: 850px;
    background-image: linear-gradient(to right, #ffffff 65%, #c2f6ef 35%);
  }
  }


  @media only screen and (max-width: 520px){

    
    .main{
      height: 1190px;
      background-image: linear-gradient(to left, #ffffff 65%, #c2f6ef 35%);
    }

    .about{
      height:1380px;
    }
    .main .textside{
      padding-bottom: 15px;
    }


    .education{
      height:2100px;
    }

 .skills{
  height: 1150px;
}
.skills-content{
flex-direction: column;
height: 1000px;
}
    
}
        



  @media only screen and (max-width: 460px){ 

    .main{
      height: 1250px;
      background-image: linear-gradient(to left, #ffffff 65%, #c2f6ef 35%);
        }
      .about{
        height:1450;
      }

      .education{
        height:210px;
      }
      .main .textside{
            padding-left: 20px;
        }
        .img{
          height:350px; 
          width:350px;
        }
     .img:hover{
         height: 355px;
         width: 355px;
     }
        .textside p{
            text-align: left;
            font-size: 18px;
        }

        .aboutInfo{
          width: 93% !important;
        }
        .aboutInfo span{
          padding: 10px 0 10px 5px;
          font-size: 14px;
          letter-spacing: 0.5px;
        }
        .aboutInfo .btnstyle{
          margin: 0 8px;
          padding: 3px 12px;
        }
        .aboutInfo .details span{
          font-size: 15px;
      }

        .skills{
            height: 1100px;
        }
        .skills-content{
          flex-direction: column;
          height: 1050px;
        }
        .skills .skills-content .right .text{
          font-size: 22px;
      }
      .skills .skills-content .right p{
        font-size: 15px;
    }
        
    }

    

    /* ------------------------------------------------------- */

    @media only screen and (max-width:425px){

     .main{
        height: 950px;
        background-image: linear-gradient(to left, #ffffff 65%, #c2f6ef 35%);
          }
      .about{
          height:1050px;
        }
  
        .education{
          height:2380px;
        }
        .main .textside{
              padding-left: 20px;
          }
          .img{
            height:220px; 
            width:220px;
          }
       .img:hover{
           height: 225px;
           width: 225px;
       }
          .textside p{
              text-align: left;
              font-size: 14px;
          }

 

          .aboutInfo span{
            padding: 10px 0 10px 5px;
            font-size: 14px;
            letter-spacing: 0.5px;
          }
          .aboutInfo .btnstyle{
            margin: 0 8px;
            padding: 3px 12px;
          }
          .aboutInfo .details span{
            font-size: 13px;
        }
  
          .skills{
              height: 1120px;
          }
          .skills-content{
            flex-direction: column;
            height: 1050px;
          }
          .skills .skills-content .right .text{
            font-size: 22px;
        }
        .skills .skills-content .right p{
          font-size: 15px;
      }

    }


   
    @media only screen and (max-width:390px){ 
      .education{
        height: 2120px;
      }
    }
   

    @media only screen and (max-width:360px){ 
      .main{
        height: 980px;
        background-image: linear-gradient(to left, #ffffff 65%, #c2f6ef 35%);
        }
        .about{
          height:1140px;
        }

        .textside p{
          text-align: left;
        }
  
        .img{
          height:200px; 
          width:200px;
        }
     .img:hover{
         height: 205px;
         width: 205px;
     }
        .education{
          height:2050px;
        }
        
    .aboutInfo span{
      padding: 10px 0 10px 3px;
        font-size: 12px;
    }
    
  .aboutInfo .btnstyle{
      margin: 0 5px;
      padding: 3px 11px;
    }
 
    .aboutInfo .details span{
       font-size: 13.5px;
      }
     

      .skills{
        height: 1300px;
    }

    .skills-content{
      height: 1250px;
      background-image: linear-gradient(to right, #ffffff 65%, #c2f6ef 35%);
      flex-direction: column;
    }

    .skills .skills-content .right .text{
      font-size: 20px;
  }
  .skills .skills-content .right p{
    font-size: 14px;
}
}
  /* ------------------------------------------------------- */

  @media only screen and (max-width:300px){

    .main{
      height: 1280px;
      background-image: linear-gradient(to left, #ffffff 65%, #c2f6ef 35%);
      }
      .about{
        height:1400px;
      }

    .education{
      height:2240px;
    }
    .skills{
      height: 1300px;
    }
    .skills .skills-content{
      height: 1200px;
    }
  }













  /* ----------------------------------------------------------- */

  @media only screen and (max-width:1200px){
    .even{
      margin-left:18%;
    }
    .odd{
      margin-left:55%
    }
  }


  /* ------------------------------------------------ */
  @media only screen and (max-width:930px){
    .timelineIcon{
      left: 46.5%;
    }
    .even{
      margin-left:12%;
    }
    .odd{
      margin-left:56%;
    }
  }


  /* ------------------------------------------------------------ */
  @media only screen and (max-width:770px){
    .timelineIcon{
      left: 45.69%;
    }
    .even{
      margin-left:4%;
    }
    .odd{
      margin-left:56%;
    }
  }


  /* -------------------------------------------------------------- */
  @media only screen and (max-width:660px){
    .timelineIcon{
      left: 45%;
    }
    .education-info{
      max-width: 230px;
    }
   .even{
     margin-left: 8%;
   }
   .odd{
    margin-left:58%;
  }
  }
  @media only screen and (max-width:450px){
    .timelineIcon{
      left: 43%;
    }
    .education-info{
      max-width: 165px;
    }
    .timeline-content:before{
      top: 18%;
    }
   .even{
     margin-left: 4%;
   }
   .odd{
     margin-left: 60%;
   }
  
  }

  /* ----------------------------------------------------- */
  @media only screen and (max-width:420px){
    .timelineIcon{
      left: 42%;
    }
    .education-info{
      max-width: 155px;
    }
   .even{
     margin-left: 1%;
   }
   .odd{
     margin-left: 61%;
   }
  
  }

  /* ------------------------------------------------------- */
  @media only screen and (max-width:390px){
    .timelineIcon{
      left: 8.55%;
    }
    .timeline-content{
      padding: 5px 0;
    }
    .timeline-content:before{
      left: 17%;
    }
    .education-info{
      max-width: 220px;
    }
   .even{
     margin-left: 30%;
     border-radius: 0px 20px 20px 20px;
   }
   .odd{
     margin-left: 30%;
   }
  
  }
